<div class="row">
  <div class="offset2 span8">
      <h1>My Projects</h1>
      <div class="pull-right">
        <%= render "projects/form" %>
      </div>
        
      <div class="projectitem">
        <table class="table table-bordered">
          <tr>
            <th>Name</th>
            <th># Reports</th>
          </tr>

        <% @projects.each do |project| %>
          <tr>
            <td>
              <%= link_to project.name, project %>
              <%= link_to 'Edit', edit_project_path(project), class: 'btn btn-mini' %>
              <%= link_to 'Delete', project, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini' %>
            </td>
            <td><%= project.reports.length %></td>
          </tr>
        <% end %>
        </table>
      </div>
      <!--<%= link_to 'New Project', new_project_path, class: 'btn' %>-->
  </div>
</div>      