<p id="notice"><%= notice %></p>
  
<div class="row">
  <div class="offset2 span8">
      <h1>
        <%= link_to 'Projects', projects_path %> >
        <%= @project.name %> Reports
      </h1>
    


      <div class="newreportbtn pull-right">
              <a href="#newreport-form-modal"
                 class="btn btn-success create-event-btn"
                 data-toggle='modal'
                 data-backdrop="true"
                 data-keyboard="true">Create Report</a>
        <!--<%= link_to 'New Report', new_report_path(project_id: @project.id), class: 'btn btn-success' %>-->
      </div>

      <div class="reportitem">
        <table class="table table-bordered table-striped">
          <tr>
            <th>Month / Year</th>
            <th>Profit</th>
          </tr>

        <% @reports.each do |report| %>
          <tr>
            <td>
              <%= report.month %> / <%= report.year %> 
              ( <%= link_to "#{report.work_items.length} work items", report %> )

                <%= link_to 'Edit', edit_report_path(report), class: 'btn btn-mini' %>
                <%= link_to ' Delete', report, confirm: 'Are you sure?', method: :delete, class: 'btn btn-mini btn-danger' %>
              <div class="reportdescription">
                <h6><%= report.note %></h6>
              </div>
            </td>
            <td><%= report.revenue - report.expense %></td>
          </tr>
        <% end %>
        </table>
      </div>
  </div>
</div>

<div id="newreport-form-modal" class="modal hide fade" style="display: none; ">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">×</button>
              <h3>Create Report</h3>
            </div>
            <div class="modal-body">
              <%= render :partial => 'reports/form', :locals => {:report => Report.new} %>
            </div>
            <div class="modal-footer">
            </div>
</div>      


