<p id="notice"><%= notice %></p>

<ul class="breadcrumb">
  <li><%= link_to @report.project.name, project_path(@report.project_id) %></li> >
  <li class="active"><%= Report::MONTHS.key(@report.month) %>, <%= @report.year %> Report</li>
</ul>

<h1 class="page-header"><%= Report::MONTHS.key(@report.month) %>, <%= @report.year %> Report</h1>

<div class="row">

  <%###########################################################################%>
  <%# Status Totals %>

  <div class="span3">
    <table class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td id="green-title" class="span2">Green</td>
        <td id="green-sum" class="span1"></td>
      </tr>
      <tr>
        <td id="yellow-title">Yellow</td>
        <td id="yellow-sum"></td>
      </tr>
      <tr>
        <td id="red-title">Red</td>
        <td id="red-sum"></td>
      </tr>
      <tr>
        <td id="none-title">None</td>
        <td id="none-sum" ></td>
      </tr>
      </tbody>
    </table>
  </div>

  <%###########################################################################%>
  <%# Revenue Expense Profit %>

  <div class="span3">
    <table id="profit-table" class="table table-bordered table-striped">
      <tbody>
      <tr>
        <td class="title-col">Revenue</td>
        <td id="revenue-val" class="span1 value-col"><%= @report.revenue %></td>
        <td id="revenue-form" class="span1">
          <%= form_for @report do |f| %>
            <%= f.text_field :revenue %>
            <%= content_tag :button, type: :submit, class: "btn btn-mini" do %>
              <i class="icon icon-save"></i>
            <% end %>
          <% end %>
        </td>
        <td class="button-col">
          <%= link_to edit_report_path(@report), class: "btn btn-mini edit-revenue" do %>
            <i class="icon icon-edit"></i>
          <% end %>
        </td>
      </tr>
      <tr>
        <td >Expense</td>
        <td id="expense-val"><%= @report.expense %></td>
        <td id="expense-form" class="span1">
          <%= form_for @report do |f| %>
            <%= f.text_field :expense %>
            <%= content_tag :button, type: :submit, class: "btn btn-mini" do %>
              <i class="icon icon-save"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <%= link_to edit_report_path(@report), class: "btn btn-mini edit-expense" do %>
            <i class="icon icon-edit"></i>
          <% end %>
        </td>
      </tr>
      <tr class="profit-row">
        <td>Profit</td>
        <td class="profit-val"></td>
        <td></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<h2>Work Items</h2>

<%= content_tag 'div', id: 'work-items-data', data: { workitems: @work_items} do %>
<% end %>

<%###########################################################################%>
<%# Work Item Template%>

<script id="work-item-template" type="text/x-handlebars-template">
  <div class="row work-item"
       data-item="{{ json this }}">
    <div class="span10">
      <div class="description">
        {{ description }}
      </div>
      <div class="comment">
        {{ comment }}
      </div>
    </div>
    <div class="span1">
      {{ status }}
    </div>
    <div class="span1">
      <a href="/reports/{{report_id}}/work_items/{{id}}/edit" class='edit btn btn-mini'><i class="icon icon-edit"></i></a>
      <a href="/reports/{{report_id}}/work_items/{{id}}" class='btn btn-mini' data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        <i class="icon icon-trash"></i></a>
    </div>
  </div>
</script>

<%###########################################################################%>
<%# Edit workitem template %>

<script id="edit-work-item-template" type="text/x-handlebars-template">
  <div class="row edit-work-item">
    <form accept-charset="UTF-8" action="/reports/{{report_id}}/work_items/{{id}}" class="new_work_item" id="new_work_item" method="post">
      <div class="span10">
        <input name="_method" type="hidden" value="put">
        <input name="work_item[report_id]" type="hidden" value="{{report_id}}">
        <div class="description">
          <textarea class="autogrow" name="work_item[description]" >{{description}}</textarea>
        </div>
        <div class="comment">
          Comment: <input type="text" name="work_item[comment]" value="{{comment}}">
        </div>
      </div>
      <div class="span1">
        <%= select_tag 'work_item[status]', options_for_select(WorkItem::STATUS) %>
        <input class="update-item btn" name="commit" type="submit" value="Save">
      </div>
    </form>
    <div class="span1">
      <a href="/reports/{{report_id}}/work_items/{{id}}/edit" class='edit btn btn-mini'><i class="icon icon-edit"></i></a>
      <a href="/reports/{{report_id}}/work_items/{{id}}" class='btn btn-mini' data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        <i class="icon icon-trash"></i></a>
    </div>
  </div>
</script>

<%###########################################################################%>
<%# Add new work item %>

<%= link_to new_report_work_item_path(@report), id: 'new-work-item', class: 'btn' do %>
  <i class="icon icon-plus"></i> Add Work Item
<% end %>

<div class="row">
  <div class="span10">
    <%= form_for([@report, @work_item], html: {id: 'new-work-item-form', class: 'well'}) do |f| %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'description-field' %>
      <%= f.hidden_field :report_id, value: @report.id %>
      <br>
      <%= f.submit 'Add', class: 'btn' %>
    <% end %>
  </div>
</div>


<h2 class="page-header">Note</h2>
<%= @report.note %>
