<p id="notice"><%= notice %></p>

<h1>Report</h1>

<p>
  <b>Month:</b>
  <%= Report::MONTHS.key(@report.month) %>
</p>

<p>
  <b>Year:</b>
  <%= @report.year %>
</p>

<p>
  <b>Revenue:</b>
  <%= @report.revenue %>
</p>

<p>
  <b>Expense:</b>
  <%= @report.expense %>
</p>

<p>
  <b>Note:</b>
  <%= @report.note %>
</p>

<p>
  <b>Project:</b>
  <%= @report.project_id %>
</p>


<h1>Work Items</h1>

<%= content_tag 'div', id: 'work-items-data', data: { workitems: @work_items} do %>
<% end %>

<%# Work Item Template%>

<script id="work-item-template" type="text/x-handlebars-template">
  <div class="row work-item"
       data-item="{{ json this }}">
    <div class="span10">
      <div class="description">
        {{ description }}
      </div>
      <div class="comment">
        {{ comment }}
      </div>
    </div>
    <div class="span1">
      {{ status }}
    </div>
    <div class="span1">
      <a href="/reports/{{report_id}}/work_items/{{id}}/edit" class='edit btn btn-mini'><i class="icon icon-edit"></i></a>
      <a href="/reports/{{report_id}}/work_items/{{id}}" class='btn btn-mini' data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        <i class="icon icon-trash"></i></a>
    </div>
  </div>
</script>

<script id="edit-work-item-template" type="text/x-handlebars-template">
  <div class="row edit-work-item">
    <form accept-charset="UTF-8" action="/reports/{{report_id}}/work_items/{{id}}" class="new_work_item" id="new_work_item" method="post">
      <div class="span10">
        <input name="_method" type="hidden" value="put">
        <input name="work_item[report_id]" type="hidden" value="{{report_id}}">
        <div class="description">
          <textarea class="autogrow" name="work_item[description]" >{{description}}</textarea>
        </div>
        <div class="comment">
          Comment: <input type="text" name="work_item[comment]" value="{{comment}}">
        </div>
      </div>
      <div class="span1">
        <%= select_tag 'work_item[status]', options_for_select(WorkItem::STATUS) %>
        <input class="update-item btn" name="commit" type="submit" value="Save">
      </div>
    </form>
    <div class="span1">
      <a href="/reports/{{report_id}}/work_items/{{id}}/edit" class='edit btn btn-mini'><i class="icon icon-edit"></i></a>
      <a href="/reports/{{report_id}}/work_items/{{id}}" class='btn btn-mini' data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        <i class="icon icon-trash"></i></a>
    </div>
  </div>
</script>

<%= link_to new_report_work_item_path(@report), id: 'new-work-item', class: 'btn' do %>
  <i class="icon icon-plus"></i> Add Work Item
<% end %>

<div class="row">
  <div class="span6">
    <%= form_for([@report, @work_item], html: {id: 'new-work-item-form', class: 'well'}) do |f| %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'description-field' %>
      <%= f.hidden_field :report_id, value: @report.id %>
      <%= f.submit 'Add', class: 'btn' %>
    <% end %>
  </div>
</div>

<br>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', @report.project %>

<div style="height:200px;"></div>