<p id="notice"><%= notice %></p>

<h1>Report</h1>

<p>
  <b>Month:</b>
  <%= Report::MONTHS.key(@report.month) %>
</p>

<p>
  <b>Year:</b>
  <%= @report.year %>
</p>

<p>
  <b>Revenue:</b>
  <%= @report.revenue %>
</p>

<p>
  <b>Expense:</b>
  <%= @report.expense %>
</p>

<p>
  <b>Note:</b>
  <%= @report.note %>
</p>

<p>
  <b>Project:</b>
  <%= @report.project_id %>
</p>


<h1>Work Items</h1>

<div id="work-items">
<% @work_items.each do |work_item| %>
  <div class='row work-item'
       data-id="<%= work_item.id %>"
       data-desc="<%= work_item.description %>"
       data-report-id="<%= work_item.report_id %>">

    <div class="desc span10">
      <%= work_item.description %>
    </div>
    <div class="span1">
      <%= work_item.status %>
    </div>
    <div class="span1">
      <%= link_to edit_report_work_item_path(@report, work_item), class: 'edit btn btn-mini' do %>
        <i class="icon icon-edit"></i>
      <% end %>
      <%= link_to [@report, work_item], confirm: 'Are you sure?', class: 'btn btn-mini', method: :delete do %>
        <i class="icon icon-trash"></i>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<script id="work-item-template" type="text/x-handlebars-template">
  <div class="row work-item"
       data-id="{{ id }}"
       data-desc="{{ description }}"
       data-report-id="{{ report_id }}">
    <div class="desc span10">
      {{ description }}
    </div>
    <div class="span1">
      {{ status }}
    </div>
    <div class="span1">
      <a href="/reports/{{report_id}}/work_items/{{id}}/edit" class='edit btn btn-mini'><i class="icon icon-edit"></i></a>
      <a href="/reports/{{report_id}}/work_items/{{id}}" class='btn btn-mini' data-confirm="Are you sure?" data-method="delete" rel="nofollow">
        <i class="icon icon-trash"></i></a>
    </div>
  </div>
</script>

<script id="work-item-edit-template" type="text/x-handlebars-template">
  <div class="span10">
    <form accept-charset="UTF-8" action="/reports/{{reportId}}/work_items/{{id}}" class="new_work_item" id="new_work_item" method="post">
      <input name="_method" type="hidden" value="put">
      <input type="text" name="work_item[description]" value="{{description}}">
      <input id="work_item_report_id" name="work_item[report_id]" type="hidden" value="{{reportId}}">
      <input class="update-item btn" name="commit" type="submit" value="Add">
    </form>
  </div>
</script>

<%= link_to new_report_work_item_path(@report), id: 'new-work-item', class: 'btn' do %>
  <i class="icon icon-plus"></i> Add Work Item
<% end %>

<div class="row">
  <div class="span6">
    <%= form_for([@report, @work_item], html: {id: 'new-work-item-form', class: 'well'}) do |f| %>
      <%= f.label :description %>
      <%= f.text_area :description, class: 'description-field' %>
      <%= f.hidden_field :report_id, value: @report.id %>
      <%= f.submit 'Add', class: 'btn' %>
    <% end %>
  </div>
</div>


<br>

<%= link_to 'Edit', edit_report_path(@report) %> |
<%= link_to 'Back', @report.project %>
